# Select the script to run
# Uncomment appropriate section
# Fill values

# Common settings

# Available values for NETWORK: mainnet,gnosis,holesky,chiado
NETWORK=holesky

# Private key for the account used to send transactions. Used in most tasks
# HOT_WALLET_PRIVATE_KEY=0x...

# API endpoint for execution node. Used in most tasks
# EXECUTION_ENDPOINT=https://execution

# GraphQL API endpoint. Used in most tasks
# GRAPH_API_URL=https://graph

# Settings for update_price.py
# NETWORK is used as sender network
# Target network is determined automatically based on sender network
# Supported sender networks: Sepolia (id 11155111), Mainnet (id 1)
# Target networks: Arbitrum Sepolia (id 421614), Arbitrum (id 42161)
# SENDER_EXECUTION_ENDPOINT=https://example.com
# TARGET_EXECUTION_ENDPOINT=https://example.com


# Settings for reward_splitter_cli.py
# When dry run mode is enabled transaction is sumulated
# DRY_RUN=false
# Comma separated list of vaults
# VAULTS=0x...
# Minimum amount of rewards (in Wei) to process reward splitter. Default is 0.001 ETH (0.001 GNO for Gnosis).
# REWARD_SPLITTER_MIN_ASSETS=

# Settings for infinity_pools.py
# MAINNET
# BTC_WALLET_PRIVATE_KEY=0x...
# SOL_WALLET_PRIVATE_KEY=0x...
# SUSDS_WALLET_PRIVATE_KEY=0x...
# SWISE_WALLET_PRIVATE_KEY=0x...

# BTC_VAULT=0x...
# SOL_VAULT=0x...
# SUSDS_VAULT=0x...
# SWISE_VAULT=0x...

# GNOSIS
# ETH_WALLET_PRIVATE_KEY=0x...
# BTC_WALLET_PRIVATE_KEY=0x...
# SDAI_WALLET_PRIVATE_KEY=0x...
# BCSPX_WALLET_PRIVATE_KEY=0x...

# ETH_VAULT=0x...
# BTC_VAULT=0x...
# SDAI_VAULT=0x...
# BCSPX_VAULT=0x...
